//AUTRHOR: LEE GOULD
//MAIN SCSS FILE

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
// local styles
@import "colors", "typography", "buttons", "icons", "simple-grid";

/* ---------------------------------------------------------------------------------------------------------------
   HEADER
--------------------------------------------------------------------------------------------------------------- */

.header {
  background-color: $dark-grey;
  height: 40px;
  overflow: hidden;
}
.header nav {
  margin-top: 10px;
}
.header a {
  color: $white;
  text-decoration: none;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  font-weight: $light;
  padding: 0px 0px 10px 10px;
}

/* ---------------------------------------------------------------------------------------------------------------
   MAIN THEMING
--------------------------------------------------------------------------------------------------------------- */

// mixins

@mixin padding-top {
  padding-top: 40px;
}

@mixin padding-bottom {
  padding-bottom: 40px;
}

//background containers
.light-orange {
  @include padding-top;
  @include padding-bottom;
  background-color: $light-orange;
  color: $white;
}

.dark-grey {
  @include padding-top;
  @include padding-bottom;
  background-color: $dark-grey;
  color: $white;
}

.white {
  @include padding-top;
  @include padding-bottom;
  background-color: $white;
  color: $grey;
}
